* {
	box-sizing: border-box;
}

body {
	background-image: url("../img/cat-cute.jpg");
	overflow-x: auto;
	overflow-y: auto;
	background-size: cover;
	font-family: 'Rubik', sans-serif;
}

nav {
	position: fixed;
}

#contenedor {
	padding-top: 75px;
}

#receptor {
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
}

#casillero {
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
}

.bloque{
	display: inline-block;
	padding: 1% 2%;
	width: 270px;
	vertical-align: top;
	box-sizing: border-box;
	white-space: normal;
}

.tituloLista{
	display: inline-block;
	word-break: break-all;
}

.ocultar {
	display: none;
}

.button {
	display: block;
}

.ancor {
	display: block;
	text-decoration: none;
}

.estiloTarjeta {
	padding: 5px;
	background-color: #FFF;
	border-radius: 4px;
	margin-bottom: 8px;
	word-wrap: break-word;
	cursor: pointer;
}
.bordeTarjeta{
	border-radius: 2px dotted black;
}

.nuevoBoton {
	display: block;
}