* {
	box-sizing: border-box;
}

body {
	background-image: url("../img/cat-cute.jpg");
	white-space: nowrap;
	background-size: cover;
	font-family: "Amatic SC", cursive;
}
nav{
	position: fixed;
}

#contenedor{
	margin-top: 70px;
}

#receptor {
	display: inline-block;
	vertical-align: top;
}

#casillero {
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
}

.bloque{
	display: inline-block;
	margin: 5px 10px;
}

.tituloLista{
	margin-left: 3%;
	display: inline-block;
}

.ocultar {
	display: none;
}

.button {
	display: block;
}

.ancor{
	display: block;
	text-decoration: none;
}

.estiloTarjeta{
	padding: 5px;
	background-color: #FFF;
	border-radius: 4px;
	margin-bottom: 8px;
}