* {
	box-sizing: border-box;
}

body {
	background-image: url("../img/cat-cute.jpg");
	white-space: nowrap;
	background-size: cover;
}
nav{
	position: fixed;
}

#contenedor {
	padding-top: 5%;
}

#receptor {
	display: inline-block;
	margin-right: 3%;
	margin-left: 3%;
}

#casillero {
	cursor: pointer;
	display: inline-block;
}

.bloque{
	display: inline;
	height: 100%;
}

span{
	margin-left: 3%;
	display: inline-block;
}

.ocultar {
	display: none;
}

.button {
	display: block;
}

.ancor{
	display: block;
	text-decoration: none;
}
.derecha{
	display: inline-block;
	margin-left: 3%;
}
